body {
    font-family: "Roboto" sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: Regular;
    font-size: 16px;
    Spacing: 2%;
    Line Height: 24px;
}

ul {
    list-style: none;
}

.header {
    background-color: 2E2F42;
}

.page-title {
    color: 000000;
    font-family: "Roboto" sans-serif;
    font-weight: bold;
    font-size: 56px;
    Spacing: 2%;
}


.section-title {
    font-family: "Roboto" sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;    
}

.title {
    font-family: "Roboto" sans-serif;
    font-weight: medium;
    font-size: 20px;
    Spacing: 2%; 
}

.text {
    font-family: "Roboto" sans-serif;
    font-weight: regular;
    font-size: 14px;
    letter-spacing: 4%;
    line-height: 14px;
}

